PORT=8080
DATABASE_URL=postgres://rbac:rbac@localhost:5434/rbac?sslmode=disable
REDIS_ADDR=localhost:6380

# Port="string"
# GinMode="string"
# DBHost="string"
# DBPort="string"
# Domain="string"
# DBUser="string"
# DBPassword="string"
# GoEnv="string"
# DBName="string"
# RedisHost="string"
# RedisPort="string"

# or
# DatabaseURL="string"
# RedisURL="string"
