PORT="STRING"
GIN_MODE="STRING"
DB_HOST="STRING"
DB_PORT="STRING"
DOMAIN="STRING"
DB_USER="STRING"
DB_PASSWORD="STRING"
DB_NAME="STRING"
REDIS_HOST="STRING"
REDIS_JPORT="STRING"

# NOTE: this overwrides the host and port config for database and redis

DATABASE_URL="STRING"
REDIS_URL="STRING"
